@model PagedResult<New.Models.PeriodeNIP>
@using New.Utility;
@{
    ViewData["Title"] = "Index";
}


<br />

@{
    var urlTemplate = Url.Action() + "?page={0}";
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "page")
        {
            continue;
        }
        urlTemplate += "&" + key + "=" + request.Query[key];
    }

    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}

<h4>Daftar Periode NIP [@ViewBag.IdPeriode //  @ViewBag.IdUnit]</h4>
<br />

<table class="table table-striped table-sm">
    <thead class="thead-light">
        <tr>
            <th>
                <div style="color:#007bff">NIP</div>
            </th>
            <th>
                <div style="color:#007bff">NAMA</div>
            </th>
            <th>
                <div style="color:#007bff">JABATAN</div>
            </th>
            <th>
                <div class="nav justify-content-end">
                    <a class='btn btn-primary' asp-action="Create"><i class="fa fa-user-plus"></i></a>
                    &nbsp;  &nbsp;

                    <a class='btn btn-warning' asp-action="Print"><i class="fa fa-print"></i></a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NipNavigation.Nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdJabatanNavigation.Uraian)
                </td>

                <td>
                    <div class="nav justify-content-end">
                        <a asp-action="Edit" asp-route-idPeriode="@item.IdPeriode"
                           asp-route-nip="@item.Nip" class="btn btn-success btn-sm">
                            <i class="fa fa-edit"></i>
                        </a>
                        &nbsp;  &nbsp;
                        <a class='btn btn-info btn-sm' asp-action="Details" asp-route-idPeriode="@item.IdPeriode"
                           asp-route-nip="@item.Nip"><i class="fa fa-info"></i></a>
                        @* 
                        &nbsp;  &nbsp;
                        <a asp-action="Delete" asp-route-idPeriode="@item.IdPeriode"
                           asp-route-nip="@item.Nip"
                           class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i>
                        </a>*@
                    </div>

                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>

Note:
@if (@ViewBag.SemuaAdaUserLogin != true)
{
    <a asp-action="UserLogins" asp-route-idPeriode="@ViewBag.IdPeriode"
       asp-route-idUnit=" @ViewBag.IdUnit">[Daftarkan user login]</a>
}
<a asp-action="ImportPeriodeNip" asp-route-idPeriode="@ViewBag.IdPeriode"
   asp-route-idUnit=" @ViewBag.IdUnit">[Import dari bulan sebelumnya]</a>



@(await Component.InvokeAsync<PagerViewComponent>(Model))
