@model New.Models.Diary

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Diary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanggal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaktuMulai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaktuMulai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaktuHingga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaktuHingga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktifitas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktifitas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hasil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hasil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaktuSetuju1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaktuSetuju1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaktuSetuju2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaktuSetuju2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodeNIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodeNIP.IdPeriode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
