@model IEnumerable<New.Models.Jabatan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uraian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEselon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJabatan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAtas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUnitKerjaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Uraian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEselon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJabatan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAtas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUnitKerjaNavigation.Uraian)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
